[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npm run dev -- --host 0.0.0.0 --port 5173"
  targetPort = 5173
  port = 8888
  framework = "#custom"
  functions = "netlify/functions"